@import url(variables.css);
*{
padding:0;
margin: 0;
font-family:"Diamonds-regular.ttf";
box-sizing: border-box;
}
body{
    background: url(../storage/img/moonH.png);
    background-repeat: no-repeat;
    z-index: -2;
    position: relative;
}
.header{
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-family:"SF-pro-text-regular" ;
    background: var(--color-1)
    color: var(--color-1);
    z-index: 10;
    right: 50;
    
}
.header img{
    width: 30px;
    height: 30px;
}
.total{
    margin: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Ancho del elemento */
    height: 100px; /* Altura del elemento */
    border-radius: 50%; /* Valor para crear un círculo */
    border-color: solid green;
    background: green;
    padding: 100px 100px 100px 100px;
    
}
.buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: red;
    position: relative;

}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--space-layout-padding-lr);


}
.footer__ul{
    background: rgb(51, 64, 79);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 40px 0 #000000;
    
}
.footer__ul li{
    list-style: none;
     /* background: var(--color-1); */
    /* border-radius: 100%; */
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    /* background: red; */
    justify-content: space-between;
    height: 30px;
    width: 30px;
}