@import url(variables.css);
*{
  padding: 0;
  margin: 0;
  font-family:"Diamonds-regular.ttf";
  box-sizing: border-box;
}
.top{
    background: url(../storage/img/back.svg);
    background: var(--color-2);
}
.header{

    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 25px;
    font-family:"Diamonds-Regular" ;
     /* background: blue; */ 
}
.welcome{
    color: var(--color-4);
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    /* background: violet;     */
    font-family:"Diamonds-Regular";
    margin: 0;
    padding: 0;
}
.welcome h2
{margin: 10px 0 0px 10px;
/* border: solid; */
padding: 0;
}


.data{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
/* background: rgb(161, 16, 36); */
}
.data img{
    width: 180px;
}
.figures{
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    /* background: rgb(16, 161, 23); */
}
.figures{
    width: 180px;
}
.bars{
    display: flex;
    flex-direction: row;
    /* background: blue;  */
    justify-content: space-between;
    margin:0 10px;
    


}
.main{
/* background: white; */
margin-top: 25px;
background: var(--color-4);
border-radius: 40px;
overflow-y: scroll;

}
.utilities{
    /* background: var(--color-1);  */
    border-radius: 40px;
    color: var(--color-4);
    margin-bottom: 10px;
    color: black;
    padding: 10px;
}
.utilities h2{
    margin-top: 30px;
    margin-left: 20px ;
    margin-bottom: 10px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background:#8dd618 ;   */
    margin: 15px;
    color: black;
    
}
.box__option h3{
    font-family:"Diamonds-Regular";
}
.box__options{
    /* background: blue;  */
    border: solid rgb(240, 237, 237) ;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    box-shadow: 800px;
    

}
.box__options img{
    margin: 20px;
    width: 50px;
    height: 50px;
    /* background-color: violet;  */
}

.transactions{
     background: rosybrown;
     margin: 10px 0 60px 10px ;
}
.transactions__history{
    background: blue;
    display: flex;
    justify-content: space-between;
}

.description{
    display: flex;
    justify-content: center;
    background-color: red;
}
.arrow{
    background: violet;
    display: flex;
    flex-direction:column ;

}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--space-layout-padding-lr);

}
.footer__ul{
    background: rgb(51, 64, 79);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 55px 0 #000000;
}
.footer__ul li{
    list-style: none;
     /* background: var(--color-1); */
    /* border-radius: 100%; */
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    background: red;
    justify-content: space-between;
    height: 40px;
    width: 40px;
}