@import url(variables.css);
*{
  padding: 0;
  margin: 0;
  font-family:"Diamonds-regular.ttf";
  box-sizing: border-box;
}
.top{
    background: url(../storage/img/back.svg);
    background: var(--color-2);
    margin-bottom: 43px;
}
.header{
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 25px;
    font-family:"SF-pro-text-regular" ;
    /* background: blue;   */
    color: var(--color-4);
    margin: 0 5px;
}
.header img{
    width: 30px;
    height: 30px;
}

.welcome{
    color: var(--color-4);
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    /* background: violet;     */
    font-family:"SF-pro-text-regular";
    margin-top:20px ;
    margin-bottom: 20px;
    padding: 0;
}
.welcome h2
{margin: 10px 0 0px 10px;
/* border: solid; */
padding: 0;

}

.bars{
    display: flex;
    flex-direction: row;
    /* background: blue; */
    justify-content: space-between;
    margin:0 20px 0px 20px;
    gap: 30px;
}

.data{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:"SF-pro-text-regular";
    /* background: rgb(161, 16, 36);  */
    color: var(--color-4);
}
.data img{
    width: 160px;
}
.figures{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:"SF-pro-text-regular";
    /* background: rgb(16, 161, 23);   */
    margin-right: 20px;
    color: var(--color-4);
}
.figures img{
    width: 160px;
}
.main{
/* background: white; */
margin-top: 25px;
background: var(--color-4);
border-radius: 40px 40px 0 0;
overflow-y: scroll;

}
.utilities{
    /* background: var(--color-1);   */
    border-radius: 40px;
    color: var(--color-4);
    margin-bottom: 10px;
    color: black;
    padding: 10px;
    
}
.utilities h2{
    margin-top: 30px;
    margin-left: 20px ;
    margin-bottom: 10px;
    font-family:"SF-pro-text-regular";
}
.options{
    /* background:#8dd618 ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    color: black;
    gap: 11px;

    
}
.box__options{
    /* background: blue;  */ 
    border: solid rgb(240, 237, 237) ;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    /* background: rgb(131, 14, 14); */
    color: black;
}
.box__options img{
    margin: 20px;
    width: 50px;
    height: 50px;
    /* background-color: violet;  */
}
.box__options h3{
    font-family:"SF-pro-text-regular"
}

.details__transaction {
    /* background: green;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-3);
    margin-left: 20px;
}
.transaction__arrow {
    /* background: red; */
    border-radius: px ;
    width: var( --layout-imagen-width-checkout);
    height: var(--layout-imagen-height-checkout);
}
.transaction__arrow img{
    height: 30px;
    width: 30px;
}
.transaction__description {
    position: relative;
    /* background: violet;  */
    display: flex;
    flex-direction: column;
    width: 50%;

}
.transaction__description h3{
    font-size: 1em;
    font-family: "EncodeSans-SemiBold";
    color: var(--color-2);
}
.transaction__description small{
    margin-top: 2px;
    color: var(--color-3);
}
.transaction__description span{
    font-family: "Diamonds-Regular";
    position: absolute;
    bottom: 0;
    font-size: .9em;
    color: var(--color-2);
}


.details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: var(--color-4); */
    color: var(--color-5);
    width: 90px;
    height: 28px;
    border-radius: 5px;
    font-family:"SF-pro-text-regular"
}
.details img{
    height: 20px;
    width: 20px;
}
.details span{
    /* background: red;  */
    font-family:"SF-pro-text-regular"
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--space-layout-padding-lr);


}
.footer__ul{
    background: rgb(51, 64, 79);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 40px 0 #000000;
    
}
.footer__ul li{
    list-style: none;
     /* background: var(--color-1); */
    /* border-radius: 100%; */
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    /* background: red; */
    justify-content: space-between;
    height: 30px;
    width: 30px;
}