@import url(variables.css);
*{
  padding: 0;
  margin: 0;
  font-family:"Diamonds-regular.ttf";
  box-sizing: border-box;  
}
body{
    background: var(--color-3);
}
.header{
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__information{
    width: 80px;
    height: 80px;
}
.header__login{
    width: 40px;
    height: 40px;
    border-radius: 50;
    overflow: hidden;
}
.header__login img{
    width: 100%;
}
.welcome{
    color: var(--color-4);
}
.data{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgb(161, 16, 36);
}
.figures{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgb(16, 161, 23);
}
.utilities{
    background: var(--color-2);
    color: var(--color-4);
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#8dd618 ;
}
.transactions{
    background: rosybrown;
}