@import url(variables.css);
*{
padding: 0;
margin: 0;
font-family:"Diamonds-regular.ttf";
box-sizing: border-box;
}

.header{
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 25px;
    font-family:"SF-pro-text-regular" ;
    background: blue;   
    color: var(--color-3);
    margin: 0 5px;
}
.header img{
    width: 30px;
    height: 30px;   
}
.title{
   margin-left: 10px;
   margin-top: 20px;

}

.pop__up{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: red;
    overflow-x:scroll;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 50px;
}
.pork{
    background: violet;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    gap: 20px;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.pork img{
    /* background: black; */
}
.pop__up img{
    width: 100px;
    height: 100px;
    }
.pop__up__title{
    background: blue;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: start;



}
.pop__up__text{
    background: blue;
    display: flex;
    flex-direction: column;

}
.credit__Card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: green;
    overflow-x: scroll;
    gap:20px;
    height: 622px;
}
.credit__Cards{
    width: 250px;
    height: 622px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--space-layout-padding-lr);


}
.footer__ul{
    background: rgb(51, 64, 79);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 40px 0 #000000;
    
}
.footer__ul li{
    list-style: none;
     /* background: var(--color-1); */
    /* border-radius: 100%; */
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    /* background: red; */
    justify-content: space-between;
    height: 30px;
    width: 30px;
}