<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css"> 
        <title>wallet</title>
</head>
<body>

<div>
    <header class="header">
            <div class="header">
                <img class="header" src="../storage/img/topLeft.svg" >
                <h6 class="header">inveto</h6>
            </div>
                <div class="header">
                    <img src="../storage/img/menu.svg">
                </div>
            </div>
            <div class="total">
                <h2>total</h2> 
                <h2>Balance</h2> 
                <h2>$214.417</h2>
            </div>
                <div class="buttons">
                    <input type="button" value="Assets">
                    <input type="button" value="Debt">
                    <input type="button" value="Income">
            </div>
            <footer class="footer">
                <ul class="footer__ul">
                    <li>
                        <a href="home.html">
                            <img src="../storage/img/home.svg">
                        </a>
                    </li>
                    <li>
                        <a href="balance.html">
                            <img src="../storage/img/walletGreen.svg">
                        </a>
                    </li>
                    <li>
                        <a href="viewCard.html">
                            <img src="../storage/img/options.svg">
                        </a>
                    </li>
                    <li>
                        <a href="notification.html">
                            <img src="../storage/img/notification.svg">
                        </a>
                    </li>
                    <li>
            <a href="../index.html
            ">
                <img src="../storage/img/user.svg">
            </a>
        </li>
    </ul>
</footer>



</body>
</html>