<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <link rel="stylesheet" href="../css/viewCard.css"> 
        <title>viewcard</title>
</head>
<body>
    <header class="header">
        <div class="header">
            <img class="header" src="../storage/img/topLeftR.svg" >
            <h6 class="header">inveto</h6>
            </div>
            <div class="header">
                <img src="../storage/img/menuR.svg">
            </div>
        </div>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/wallet.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/optionsGreen.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/notification.svg">
                </a>
            </li>
            <li>
    <a href="http://127.0.0.1:5500/index.html">
        <img src="../storage/img/user.svg">
    </a>
</li>
</ul>
</footer>

</body>