<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <link rel="stylesheet" href="../css/viewCard.css"> 
        <title>viewcard</title>
</head>
<body>
    <div>
        <header class="header">
            <div class="header">
                <img class="header" src="../storage/img/topLeftR.svg" >
                <h6 class="header">inveto</h6>
            </div>
            <div class="header">
                <img src="../storage/img/menuR.svg">
            </div>
        </div>
    <main>
        <h2 class="title">Investing Tips</h2>
        <article class="pop__up">
            <div class="pork">
                <img src="../storage/img/pork.svg" alt="">
                <div class="pop__up__title">
                    <h3 class="pop__up__title">what is an ETF?</h3>
                    <h4 class="pop__up__title">by james b,PHD</h4>
                    <input class="pop__up__title" type="button" value="LEARN MORE">
                </div>
            </div>
            <div class="pork">
                <img src="../storage/img/pork.svg" alt="">
                <div class="pop__up__title">
                    <h3 class="pop__up__title">what is an ETF?</h3>
                    <h4 class="pop__up__title">by james b,PHD</h4>
                    <input class="pop__up__title" type="button" value="LEARN MORE">
                </div>
            </div>
            <div class="pork">
                <img  src="../storage/img/pork.svg" alt="">
                <div class="pop__up__title">
                   <div>
                       <h3 class="pop__up__title">what is an ETF?</h3></div>
                       <div>
                           <h4 class="pop__up__title">by james b,PHD</h4>
                        </div>

                    <input class="pop__up__title" type="button" value="LEARN MORE">
                </div>
            </div>
            <div class="pork">
                <img  src="../storage/img/pork.svg" alt="">
                <div class="pop__up__title">
                    <h3 class="pop__up__title">what is an ETF?</h3>
                    <h4 class="pop__up__title">by james b,PHD</h4>
                    <input class="pop__up__title" type="button" value="LEARN MORE">
                </div>
            </div>
            <div class="pork">
                <img src="../storage/img/pork.svg" alt="">
                <div class="pop__up__title">
                    <h3 class="pop__up__title">what is an ETF?</h3>
                    <h4 class="pop__up__title">by james b,PHD</h4>
                    <input class="pop__up__title" type="button" value="LEARN MORE">
                </div>
            </div>
        </div>     
    </article>
    <div>
        <h2 class="title__cards">My cards(4)</h2>
    </div>
    <div class="credit__Card">
        <img class="credit__Cards" src="/storage/img/creditCard.svg" alt="">
        <img class="credit__Cards" src="/storage/img/creditCard.svg" alt="">
        <img class="credit__Cards" src="/storage/img/creditCard.svg" alt="">
        <img class="credit__Cards" src="/storage/img/creditCard.svg" alt="">
    </div>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/wallet.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/optionsGreen.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/notification.svg">
                </a>
            </li>
            <li>
    <a href="../index.html">
        <img src="../storage/img/user.svg">
    </a>
</li>
</ul>
</footer>

</body>